<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="preload" href="{{path}}/Assets/banner/many_stamps_1.webp" as="image">
    <link rel="preload" href="{{path}}/Assets/timbre_1/timbre_1.1.webp" as="image">
    <link rel="preload" href="{{path}}/Assets/stamps.webp" as="image">
    <script src="https://kit.fontawesome.com/62104b1a3a.js" crossorigin="anonymous" async></script>
    <link rel="stylesheet" type="text/css" href="{% block css %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <header class="menu-principale">
        <div class="menu-logo">
             <img src="{{path}}/Assets/stamps.webp" height='50' width="50" class='logo' alt="">
        </div>
        <i class="fa-solid fa-bars"></i>
         <nav>
            <a href="{{path}}" class="menu-item">Accueil</a>
            <a href="{{path}}" class="menu-item">Information</a>
            <a href="{{path}}/catalogue" class="menu-item">Enchères</a>
            {% if guest %}
                <a href="{{path}}/membre/login" class="menu-item">Login</a>
            {% else %}
                <a href="{{path}}" class="menu-item">Compte</a>
                <a href="{{path}}/membre/logout" class="menu-item">Logout</a>
            {% endif %}
         </nav>
     </header>
    {% block body %}
    {% endblock %}
</body>
</html>
